<form action="https://register.duogeo.cz/" method="POST">
  <h2>{{ trans(key='register_form', lang=lang) }}</h2>
  <input type="text" id="lang" name="lang" value="{{ lang }}" hidden></label>
  <label for="teamname">{{ trans(key='team_name', lang=lang) }}</label>
  <input type="text" id="teamname" name="teamname" required>
  <label for="place">{{ trans(key='comp_place', lang=lang) }}</label>
  <div class="choice">
    {% for place in page.extra.place %}
      <input type="radio" id="{{ place.id }}" name="place" value="{{ place.id }}" required>
      <label for="{{ place.id }}">{{ place.name }}</label> 
    {% endfor %}
  </div>
  <label for="category">{{ trans(key='category', lang=lang) }}</label>
  <div class="choice">
    <input type="radio" id="SS" name="category" value="ss" required checked>
    <label for="SS">{{ trans(key='high_school', lang=lang) }}</label>
  </div>
  
  <div class="contestant">
    <div class="contestantform">
      <label class="contestantheader">1. {{ trans(key='participant', lang=lang) }}</label>
      <label for="name1">{{ trans(key='full_name', lang=lang) }}</label>
      <input type="text" id="name1" name="name1" required>
      <label for="email1">Email</label>
      <input type="text" id="email1" name="email1" required>
      <label for="school1">{{ trans(key='school', lang=lang) }}</label>
      <input type="text" id="school1" name="school1" required>
      <label for="class1">{{ trans(key='class', lang=lang) }}</label>
      <input type="text" id="class1" name="class1" required>
    </div>
    <div class="contestantform">
      <label class="contestantheader">2. {{ trans(key='participant', lang=lang) }}</label>
      <label for="name2">{{ trans(key='full_name', lang=lang) }}</label>
      <input type="text" id="name2" name="name2" required>
      <label for="email2">Email</label>
      <input type="text" id="email2" name="email2" required>
      <label for="school2">{{ trans(key='school', lang=lang) }}</label>
      <input type="text" id="school2" name="school2" required>
      <label for="class2">{{ trans(key='class', lang=lang) }}</label>
      <input type="text" id="class2" name="class2" required>
    </div>
  </div>

  <input type="submit" value="{{ trans(key='register', lang=lang) }}" class="registerbutton">

</form> 
