<table>
    <tr>
      <th>Počet registrovaných týmů</th>
      <th>Základní škola</th>
      <th>Střední škola</th>
    </tr>
    <tr>
      <td>Praha</td>
      <td id="zs-prague" class="left"><img class="loader" src="./css-loader.gif"> / 50</td>
      <td id="ss-prague" class="left"><img class="loader" src="./css-loader.gif"> / 50</td>
    </tr>
    <tr>
      <td>Bratislava</td>
      <td id="zs-bratislava" class="left"><img class="loader" src="./css-loader.gif"> / 50</td>
      <td id="ss-bratislava" class="left"><img class="loader" src="./css-loader.gif"> / 50</td>
    </tr>
  </table>
  <script>
    const csvUrl = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTCtLFel5a4IrXiGeM64cBNZvl83XJNhcEF85RubgM3I00_fpB1i5h9jfqGPcGs3SRWapLnmTDYDM1T/pub?gid=135760891&single=true&output=csv";

    function fetchSheetData() {
	fetch(csvUrl, {cache: "no-store"})
	    .then((response) => {
		if (!response.ok) {
		    throw new Error("Network response was not ok");
		}
		return response.text();
	    })
	    .then((csv) => {
        	const values = csv.trim().split("\n").map((row) =>  row.split(",")[0]);
		document.getElementById("zs-prague").innerHTML = values[0] + " / 50";
		document.getElementById("zs-bratislava").innerHTML = values[1] + " / 50";
		document.getElementById("ss-prague").innerHTML = values[2] + " / 50";
		document.getElementById("ss-bratislava").innerHTML = values[3] + " / 50";
	    })
	    .catch((error) => {
		console.error("Error fetching sheet data:", error);
	    });
    }
    fetchSheetData();
  </script>
