{% if page is defined %}
{% set resource = page %}
{% else %}
{% set resource = section %}
{% endif %}
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DuoGeo</title>
    <link rel="icon" type="image/png" href="{{ get_url(path='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/css/variables.css">
    <link rel="stylesheet" type="text/css" href="/css/styles-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/styles-logo.css">
    <link rel="stylesheet" type="text/css" href="/css/styles-general.css?v=1.1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.css" integrity="sha384-7lU0muIg/i1plk7MgygDUp3/bNRA65orrBub4/OSWHECgwEsY83HaS1x3bljA/XV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.js" integrity="sha384-RdymN7NRJ+XoyeRY4185zXaxq9QWOOx3O7beyyrRK4KQZrPlCDQQpCu95FoCGPAE" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"        
	    onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}]});"></script>
  </head>
  <body>
    <nav id="menu-bar">
      <input type="checkbox" name="menu-button" id="menu-button">
      <script>
	function closemenu()
	{
	    document.getElementById("menu-button").checked = false;
	}
      </script>
      <div id="overlay" onclick="closemenu()"></div>
      <div></div>
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul id="menu-list">
        <li><a class="menu-group" href="{{ get_url(path='@/_index.md',lang=lang) }}">
            <p>{{ trans(key='main', lang=lang) }}</p>
        </a></li>
	<li><a class="menu-group" href="{{ get_url(path='@/rules.md',lang=lang) }}">
            <p>{{ trans(key='about', lang=lang) }}</p>
        </a></li>
        <li><a class="menu-group" href="{{ get_url(path='@/results.md',lang=lang) }}">
            <p>{{ trans(key='results', lang=lang) }}</p>
        </a></li>
        <li><a class="menu-group" href="{{ get_url(path='@/contact.md',lang=lang) }}">
            <p>{{ trans(key='contact', lang=lang) }}</p>
        </a></li>
	<div id="languages">
	  {% set translations = resource | get(key="translations") %}
	  {% for translation in translations | sort(attribute="lang") %}
          <a class="lang-link" href="{{ translation.permalink }}">{{ trans(key='flag', lang=translation.lang) }}</a>
	  {% endfor %}	  
	</div>
      </ul>
    </nav>
    
    <div id="strip">
      <div id="strip-left"></div>
      <div id="strip-logo"></div>
      <div id="strip-right"></div>
    </div>

    <div id="page">
      {% block content %} {% endblock content %}
    </div>    
  </body>
</html>
