{% extends "base.html" %}

{% block content %}
<div class="grid">
  <div class="box" id="box1"><div class="box-element">
      <h2>Kde?</h2>
      <ul class="box-ul">
	<li> 🇨🇿 <b>Praha</b></li>
	<li> 🇸🇰 <b>Bratislava</b></li>
      </ul>
  </div></div>
  <div class="box" id="box2"><div class="box-element">
      <h2>Kdy?</h2>
      <ul class="box-ul">
	<li><b>Neděle 9.2.2025</b> pro ZŠ</li>
	<li><b>Neděle 16.2.2025</b> pro SŠ</li>
      </ul>
  </div></div>
  <div class="box" id="box3"><div class="box-element">
      <h2>Pro koho?</h2>
      <ul class="box-ul">
	<li><b>Začátečníky i pokročilé</b> 📏</li>
	<li><b>Dvojčlenné týmy</b> 🎉</li>
      </ul>
  </div></div>
  <div class="box" id="box4"><div class="box-element">
      <h2>Proč?</h2>
      <ul class="box-ul">
	<li><b>Geometrie</b> je zábava 😇</li>
	<li>A ještě lepší <b>ve dvojici</b> 🥰</li>
      </ul>
  </div></div>
</div>

<div class="colored-bg">
  <div class="flex bottom-info">
    <div class="box"><div class="box-element">
	<p>Pro podrobnější informace si prečti sekci <a class="blue" href="./rules.html">O soutěži</a>. </p>
    </div></div>
    <div class="box"><div class="box-element">
	<p>Pokud máš další otázky, <a class="blue" href="contact.html">kontaktuj</a> kohokoli z nás. </p>
    </div></div>
    <div class="box"><div class="box-element">
	<p>Jestli je všechno jasné, tak neváhej a <a class="blue" href="register.html">registruj</a>! </p>
    </div></div>
  </div>
</div>

<div class="big-button-wrapper">
  <a href="./register.html" class="big-button">Zaregistruj svůj tým!</a>
</div>
<h2> Soutěž vznikla ve spolupráci s</h2>
<div class="flex logos">
  <div class="box-element">
    <p><a href="https://www.matematickaolympiada.cz/">
	<img src="mo.svg" class="logo" style="width:100%">
    </a></p>
  </div>
  <div class="box-element">
    <p><a href="https://skmo.sk/">
	<img src="skmo.png" class="logo" style="width:100%">
    </a></p>
  </div>
</div>  
{% endblock content %}
